              
            
{% for pack in list_packages.ansible_facts.ansible_chocolatey.packages %} 
            
               <tr>
                  <td>{{ inventory_hostname }}</td>
                  <td>
                  <li>{{ pack.package }}</li>
                  </td>
                  <td>
                  <li>{{ pack.version }}</li>
                  </td>
               </tr>
                 
{% endfor %}
              
    

            

         {# | dict2items #}