         <tr>
            <td>{{ inventory_hostname }}</td>
        
            
            
{% for pack in list_packages.ansible_facts.ansible_chocolatey.packages %} 
            
               
                  <td>
                  <li>{{ pack.package }}</li>
                  </td>
                  <td>
                  <li>{{ pack.version }}</li>
                  </td>
               
            
              
{% endfor %}
              
          </tr> 

            

         {# | dict2items #}