  <style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
   </head>

   <body>
   <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Specific Update..." title="Type in an Update">
   
      <table id="myTable" border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>Windows VM</th>
            <th>List of Required Updates/Packages</th>
         </tr>