{# HTML Jinja2 Template#}
<html>
<head>
 <title>{{header}}</title>
<style>
body {
    background-color: {{bg_color}};
}
h1 {
    text-align: center;
    color:{{header_color}}
}
p {
    text-align: center;
    font-size:30px;
}    
</style>
</head>
<body>
 <h1>{{header}}</h1>
 <p>{{body}}</p>
</body>
</html>