{# HTML Jinja2 Template#}
<html>
<head>
 <title>{{header}}</title>
<style>
body {
    background-color: {{bg_color}};
}
h1 {
    text-align: center;
    color:{{header_color}}
}
p {
    text-align: center;
    font-size:30px;
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}   
</style>
</head>
<body>
 <h1>{{header}}</h1>
 <img src="Ansible-Red.png" alt="HTML5 Icon" width="128" height="128" class="center">
 <p>{{body}}</p>
</body>
</html>