{# HTML Jinja2 Template#}
<html>
<head>
 <title>{{header}}</title>
<style>
body {
    background-color: {{bg_color}};
}
h1 { 
    color: {{header_color}}
}
</style>
</head>
<body>
 <h1>{{header}}</h1>
 <p>{{body}}</p>
</body>
</html>